*{
  box-sizing: border-box;
}
html, body{
  margin: 0;
  padding: 0;
  font-family: 'Jost', sans-serif;
}
.wrapper {
  height: 100vh;
  padding: 0;
  border: 5px solid #0069ed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
  color: #0069ed;
  margin-bottom: 30px;
}

#result {
  text-align: center;
  margin-bottom: 30px;

}

.button {
  display: flex;
  justify-content: center;
}

button {
  border: none;
  padding: 1rem 2rem;
  margin: 0;
  text-decoration: none;
  background: #0069ed;
  color: #ffffff;
  font-family: 'Jost', sans-serif;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, 
                transform 150ms ease;
}

button:hover,
button:focus {
  background: #0053ba;
}